# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

*.suo
*.sdf
*.opensdf
*.bsc
*.pdb
*.ilk
*.log
*.history

Out/
ipch/

Apps/*/*.exe
Apps/*/assets/
Apps/*/bin/
Apps/*/gen/
Apps/*/obj/

BuildAndroid/bin/
BuildAndroid/gen/